body {
    min-height: 100vh;
    background-color: #222; /* Warna latar belakang gelap */
    color: #fff; /* Warna teks putih untuk kontras */
}

.table > tbody > tr > * {
    vertical-align: middle;
}

footer {
    margin: 0;
    padding: 0;
    clear: both;
    position: sticky;
    top: 100%;
    text-align: center;
    font-size: 12px;
    background-color: #333; /* Warna latar belakang footer gelap */
    color: #ccc; /* Warna teks footer yang lebih terang */
}
